body {
    background-color: rgba(245, 245, 195, 0.911);
    max-width: 800px;
    margin: auto;
    
}

.title {
    background-color: black;
    color: white;
    padding-left: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
}

img {
    width: 800px;
    border-radius: 35px;
}



.flexbox-container {
    display:flex;
    justify-content: space-around;
}

.ingredients {
    background-color: rgba(223, 203, 174, 0.562);
    border-radius: 35px;
    margin: 0 10px;
    padding: 2px 25px 5px 3px;
    box-sizing: content-box;
    

}

.square-title {
    padding-left: 25px;
}

.steps {
    background-color: rgba(223, 203, 174, 0.562);
    border-radius: 25px;
    margin: 10px;
    padding: 2px 25px 5px 3px;
    box-sizing: content-box;
    align-content: center;
}